.idea
.idea/
.idea/*
local_env
local_env/
local_env/*
build
build/
build/*

.gradle/

logs
logs/*
resource_packs
resource_packs/
resource_packs/*
worlds
worlds/
worlds/*
properties.yml
katana.yml

repo
repo/*

git.properties